/* FONT INTER */
/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/inter-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/inter-v7-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* GLOBAL */
  html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    display: inline-block;
    background: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: #FBF7F3;
}

.container {
    max-width: 1400px; 
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}
/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #171836;
    padding: 3rem 12rem;
    max-width: 120rem;
    width: 100%;

}
.nav {
    display: flex;
    flex-wrap: wrap;
    
}
.nav-item {
    margin-left: 5rem;
}
.nav-link {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: white;
    opacity: 70%;
}
.active {
    color: white;
    opacity: 85%;;
    font-weight: 500;
}
/* HERO */
.hero {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 8rem;
    max-width: 120rem;
    width: 100%;
    background-color: #171836;
}
.hero-img {
    border-radius: 6rem;
}
.hero-pic {
    max-width: 25rem;
    width: 100%;
    border-radius: 30rem;
    border: solid .2rem #1f2153;
    overflow: hidden;
}
.hero-title {
    padding-top: 4rem;
    font-style: normal;
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 130%;
    color: #FBF7F3;
    opacity: 90%;
}
/* CONTACTS SECTION */
.cards {
    padding: 2rem 5rem;
    max-width: 100rem;
    width: 100%;
}
.cards__name {
    margin-bottom: 3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 130%;
    color: #1f2153;
    opacity: 80%;

}
.cards__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cards__info {
    margin-left: 5.5rem;
}
.cards__title,
.cards__text {
    font-style: normal;
    line-height: 150%;
}
.cards__title {
    font-style: normal;
    font-weight: 600;
    color: #313585;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}
.cards__text{
    font-weight: normal;
    font-size: 1.5rem;
    color: #333472;
}
.cards__link {
    color: #333472;
}
.line {
    margin: 4rem 0;
    max-width: 27rem;
    height: .2rem;
    width: 100%;
    background-color: #292b72;
}
/* SUMMARY SECTION */
.intro {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    margin-bottom: 1rem;
}

.intro__name {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.intro__title {
    font-style: normal;
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 130%;
    color: #1f2153;
    opacity: 80%;
    margin-bottom: .3rem;
}
.intro__subtitle {
    font-style: normal;
    line-height: 150%;
    font-weight: 400;
    color: #313585;
    font-size: 1.5rem;
    
}
.intro__text {
    text-align: start;
    font-style: normal;
    line-height: 150%;
    font-weight: 400;
    color: #313585;
    font-size: 1.6rem;
    margin-left: 13rem;
}
/* SKILLS */
.skill {
    display: flex;
    padding: 5rem 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.skill__name + .skill__name {
    margin-left: 10rem;
}
.skill__title {
    font-style: normal;
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 130%;
    color: #1f2153;
    opacity: 80%;
    margin-bottom: 1.6rem;
}
.skill__list_item {
    font-style: normal;
    line-height: 150%;
    font-weight: 400;
    color: #313585;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.code {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.code_exmpl {
    color: #313585;
    font-size: 1.2rem; 
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #171836;
    padding: 3rem 12rem;
    max-width: 120rem;
    width: 100%;
}
.footer__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: white;
    opacity: 80%;
    padding: 2.5rem;
}