/* FONT INTER */
/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/inter-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/inter-v7-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* GLOBAL */
  html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    display: inline-block;
    background: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: #FBF7F3;
}

.container {
    max-width: 1400px; 
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}
/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #171836;
    padding: 3rem 12rem;
    max-width: 120rem;
    width: 100%;

}
.nav {
    display: flex;
    flex-wrap: wrap;
    
}
.nav-item + .nav-item {
    margin-left: 5rem;
}
.nav-link {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
    opacity: 80%;
}
.active {
    color: white;
    opacity: 100%;;
    font-weight: 500;
}
/* HERO */
.hero {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 8rem;
    max-width: 120rem;
    width: 100%;
    background-color: #171836;
}
.hero-img {
    border-radius: 6rem;
}
.hero-pic {
    max-width: 25rem;
    width: 100%;
    border-radius: 30rem;
    border: solid .2rem #1f2153;
}
.hero-title {
    padding-top: 4rem;
    font-style: normal;
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 130%;
    color: #FBF7F3;
    opacity: 80%;
}